node_modules/
.idea/
*.min.*
packages/website/node_modules/
packages/*/build/
packages/*/dist/
packages/*/*.log
packages/*/static/
packages/api/node_modules/
scripts/
*.log
.env
.env.*
logs/
*.lock
.prettierignore
.gitignore
