.algo{
    color: #484a47;
    color:#5c6d70;
    color:#a37774;
    color:#e88873;
    color:#e0ac9d;


    color: #eaf0ce;
    color: #c0c5c1;
    color: #7d8491;
    color: #574b60;
    color: #3f334d;

    color: #f7dba7;
    color: #f1ab86;
    color: #c57b57;
    color: #1e2d2f;
    color: #041f1e;

    /*https://coolors.co/f7dba7-f1ab86-c57b57-1e2d2f-041f1e*/
}
