.algo{
    GAMS-black: #2d2d2a;
    GAMS-black-light: #40403d;
    GAMS-balck-dark: #151514;

    GAMS-gray: #4c4c47;
    GAMS-gray-light: #7c7c79;
    GAMS-gray-dark: #31312e;

    GAMS-blue: #324a5f;
    GAMS-blue-light: #576a7c;
    GAMS-blue-dark: #253646;

    GAMS-red: #c14953;
    GAMS-red-light: #cc6a72;
    GAMS-red-dark: #7b2f35;
    
    GAMS-white: #dddbf1;
    GAMS-white-light: #e9e8f6;
    GAMS-white-dark: #c9c8dc;

    /*https://coolors.co/f7dba7-f1ab86-c57b57-1e2d2f-041f1e*/
}
